
.idea
.idea/vcs.xml
.idea/misc.xml
.idea/.name
*.json
*.cbp
POSIX-shell/cmake-build-debug/.cmake/api/v1/query/cache-v2
POSIX-shell/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
POSIX-shell/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
POSIX-shell/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
POSIX-shell/cmake-build-debug/C-POSIX-shell
POSIX-shell/cmake-build-debug/cmake_install.cmake
POSIX-shell/cmake-build-debug/CMakeCache.txt
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
POSIX-shell/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.o
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/build.make
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/cmake_clean.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/compiler_depend.make
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/compiler_depend.ts
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/depend.make
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/DependInfo.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/flags.make
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/link.txt
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/main.cpp.o
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/main.cpp.o.d
POSIX-shell/cmake-build-debug/CMakeFiles/C-POSIX-shell.dir/progress.make
POSIX-shell/cmake-build-debug/CMakeFiles/clion-environment.txt
POSIX-shell/cmake-build-debug/CMakeFiles/clion-log.txt
POSIX-shell/cmake-build-debug/CMakeFiles/cmake.check_cache
POSIX-shell/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/CMakeError.log
POSIX-shell/cmake-build-debug/CMakeFiles/CMakeOutput.log
POSIX-shell/cmake-build-debug/CMakeFiles/Makefile.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/Makefile2
POSIX-shell/cmake-build-debug/CMakeFiles/progress.marks
POSIX-shell/cmake-build-debug/CMakeFiles/TargetDirectories.txt
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/build.make
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/cmake_clean.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/compiler_depend.make
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/compiler_depend.ts
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/depend.make
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/DependInfo.cmake
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/flags.make
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/link.txt
POSIX-shell/cmake-build-debug/CMakeFiles/untitled.dir/progress.make
POSIX-shell/cmake-build-debug/Makefile
POSIX-shell/cmake-build-debug/Testing/Temporary/LastTest.log
POSIX-shell/CMakeLists.txt
POSIX-shell/CMakeLists.txt
POSIX-shell/CMakeLists.txt
POSIX-shell/CMakeLists.txt
